.fc-day-sun a {
  color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: blue;
}

.fc-no-border {
  border: none;
}

.fc-header-toolbar {
  color: black;
}

/* .fc-button-primary {
  color: brown;
}

.fc-button-secondary {
  color: brown;
} */

.fc-today-button {
  background-color: yellow;
  color: black;
}
