.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination {
  li {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

    a {
      text-decoration: none;
      color: #337ab7;
      font-size: 1.3rem;
    }

    a:hover, a.active {
      color: blue;
    }
  }
  li:not(.disabled) {
    cursor: pointer
  }
  li:first-child{
    border-radius: 5px 0 0 5px;
  }
  li:last-child{
    border-radius: 0 5px 5px 0;
  }
  li.active {
    background-color: #F5C342;
    a {
      color: #333;
    }
  }
  li.disabled {
    background-color: #9da5b1 ;
    a {
      color: white;
      cursor: auto;
    }
  }
  li.page-prev a {
    font-size: 1.5rem;
  }
  li.page-next a {
    font-size: 1.5rem;
  }
  li.page-first a {
    font-size: 1.5rem;
  }
  li.page-last a {
    font-size: 1.5rem;
  }
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}